ci:
    autoupdate_schedule: 'monthly'
    autofix_prs: false

repos:
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black-jupyter
        exclude: ^mesa/cookiecutter-mesa/
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
    -   id: pyupgrade
        args: [--py38-plus]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0  # Use the ref you want to point at
    hooks:
    -   id: trailing-whitespace
    -   id: check-toml
    -   id: check-yaml
