.model-parameter {
    margin-bottom: 15px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 1px;
    font: 20px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

canvas {
  border: 1px dotted;
}

.over {
  border-top: 2px dashed;
}
