<div id="element_{{index}}">
	<canvas id="canvas_{{ index }}" width="{{canvas_width}}" height="{{canvas_height}}" style="border:1px dotted">
	</canvas>
	<script src="/static/Chart.min.js"></script>
	<script>
		/*
			Chart.js library from: http://www.chartjs.org/
		*/
		var canvas_{{ index }} = document.getElementById("canvas_{{ index }}");
		var context_{{ index }} = canvas_{{ index }}.getContext("2d");

		var data_{{index}} = {
			labels: [],
			datasets: [
				{% for s in series %}
					{
						label: "{{s["Label"]}}",
						strokeColor: "{{s["Color"]}}",
						data: []
					},
				{% end %}
			]
		}

		var options_{{index}} = {
			animation: false,
			datasetFill: false,
			pointDot: false
		}

		// Creating the chart:
		var chart_{{index}} = new Chart(context_{{index}}).Line(data_{{index}}, options_{{index}});

		/**
			Add incoming data (assumed to be formatted correctly) to the chart,
			with the current tick as the label.
		*/
		var render = function(data) {
			chart_{{index}}.addData(data, control.tick);
		};

		/**
			The reset function destroys the chart, removes the labels, and creates the chart again in order to reset it.
		*/
		var div_reset = function() {
			chart_{{index}}.destroy();
			data_{{index}}.labels = [];
			chart_{{index}} = new Chart(context_{{index}}).Line(data_{{index}}, options_{{index}});
		};

		$("#element_{{ index }}").data("render", render);
		$("#element_{{ index }}").data("reset", div_reset);

	</script>
</div>