<!DOCTYPE html>
<head>
  <title>{{ model_name }} (Mesa visualization)</title>
  <link href="/static/css/visualization.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>

<body>
  <app-store steps="0" timeout="0">
    <wl-nav fixed shadow>
      <span slot="title"
        ><h2>{{ model_name }}</h2></span
      >
      <div slot="right">
        <app-control></app-control>
      </div>
    </wl-nav>
    <div class="container">
      <aside>
        <input-parameters></input-parameters>
      </aside>
      <main id="elements">
        <h2>Visualization Elements</h2>
      </main>
    </div>
    <wl-nav fixed style="bottom: 0px; top: auto;" shadow>
      <div slot="left">
        <wl-button onclick="document.querySelector('#about-modal').show()">
          About
        </wl-button>
        <wl-dialog fixed backdrop id="about-modal">
          <h3 slot="header">Model Description</h3>
          <wl-text slot="content">{{ description }}</wl-text>
        </wl-dialog>
      </div>
      <div slot="right">
        <fps-control></fps-control>
      </div>
    </wl-nav>
  </app-store>

  <!-- Bottom-load all JavaScript dependencies -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/weightless.min.js"></script>
  <script src="/static/js/hybrids.js"></script>
  <script src="/static/js/runcontrol.js"></script>

  <!-- Script includes go here -->
  {% for file_name in package_includes %}
  <script src="/static/js/{{ file_name }}" type="text/javascript"></script>
  {% end %} {% for file_name in local_includes %}
  <script src="/local/{{ file_name }}" type="text/javascript"></script>
  {% end %}

  <!-- template-specific code snippets here -->
  <script>
    var port = {{ port }};
  </script>

  <!-- Element-specific scripts go here -->
  <script>
    {% for script in scripts %}
    {% raw script %}
    {% end %}
  </script>
</body>
