<!DOCTYPE html>
<head>
	<title>{{ model_name }} (Mesa visualization)</title>
    <link href="/static/css/visualization.css" type="text/css" rel="stylesheet" />
    <link href="/static/main.css" type="text/css" rel="stylesheet" />

    <!-- CSS includes go here -->
    {% for file_name in package_css_includes %}
        <link href="/static/css/{{ file_name }}" type="text/css" rel="stylesheet" />
    {% end %}
    {% for file_name in local_css_includes %}
        <link href="/local/{{ file_name }}" type="text/css" rel="stylesheet" />
    {% end %}

	<!-- This is the Tornado template for the Modular Visualization. The Javascript code opens a WebSocket connection to
	the server (the port is set via the template). On every step, it receives inputs, one per module, and sends
	them to the associated function to render. -->
</head>
<body>

    <div id="root"></div>

    <!-- Script includes go here -->
	{% for file_name in package_js_includes %}
		<script src="/static/js/{{ file_name }}" type="text/javascript"></script>
	{% end %}
	{% for file_name in local_js_includes %}
		<script src="/local/{{ file_name }}" type="text/javascript"></script>
	{% end %}

    <!-- template-specific code snippets here -->
    <script>
        var port = {{ port }};
    </script>
    <script src="/static/main.js"></script>

    <!-- Element-specific scripts go here -->
    <script>
        function initElements() {
            {% for script in scripts %}
                {% raw script %}
            {% end %}
        }
    </script>
</body>
