name: build

on:
  push:
    branches:
    - main
    - release**
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

# This will cancel previous run if a newer job that obsoletes the said previous
# run, is started.
# Based on https://github.com/zulip/zulip/commit/4a11642cee3c8aec976d305d51a86e60e5d70522
concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    # We need an explicit timeout because sometimes the batch_runner test never
    # completes.
    timeout-minutes: 6
    strategy:
      fail-fast: False
      matrix:
        os: [windows, ubuntu, macos]
        python-version: ["3.12"]
        include:
          - os: ubuntu
            python-version: "3.11"
          - os: ubuntu
            python-version: "3.10"
          - os: ubuntu
            python-version: "3.9"
          # Disabled for now. See https://github.com/projectmesa/mesa/issues/1253
          #- os: ubuntu
          #  python-version: 'pypy-3.8'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install uv
      run: pip install uv
    - name: Install Mesa
      # See https://github.com/astral-sh/uv/issues/1945
      run: uv pip install --system .[dev]
    - name: Test with pytest
      run: pytest --durations=10 --cov=mesa tests/ --cov-report=xml
    - if: matrix.os == 'ubuntu'
      name: Codecov
      uses: codecov/codecov-action@v4

  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: 'pip'
    - name: Install uv
      run: pip install uv
    - name: Install Mesa
      run: uv pip install --system .[dev]
    - name: Checkout mesa-examples
      uses: actions/checkout@v4
      with:
        repository: projectmesa/mesa-examples
        path: mesa-examples
    - name: Test examples
      run: |
        cd mesa-examples
        pytest test_examples.py
